<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<link href="/assets/css/main.css" rel="stylesheet"/>
		<script async src="https://www.googletagmanager.com/gtag/js?id={{.Adsense_ID}}"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '{{.Adsense_ID}}');
		</script>
	</head>
	<body>
		<div id="hello"><p>Hi, I'm Joe</p></div>
		<div id="about">
			<ul>
				<li>IT Director for <a href="https://www.harleyschool.org">The Harley School</a></li>
				<li>Renaissance Nerd</li>
				<li>Open Source Enthusiast</li>
			</ul>	
			
			<ul id="contacts">
				<li><a href="https://www.facebook.com/jar3817" class="contact contact-fb"><img src="/assets/img/contact-fb.svg" title="facebook" alt="facebook"></a></li>
				<li><a href="mailto:joe@joereid.com" class="contact contact-em"><img src="/assets/img/contact-em.svg" title="email me" alt="email me"></a></li>
				<li><a href="https://www.linkedin.com/in/jreid-roc" class="contact contact-li"><img src="/assets/img/contact-li.svg" title="linkedin" alt="linkedin"></a></li>
				<li><a href="https://www.github.com/jar3817" class="contact contact-li"><img src="/assets/img/contact-gh.svg" title="github" alt="github"></a></li>
				
			</ul>
		</div>
		<script src="/assets/js/jquery-3.1.1.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/assets/js/main.js"></script>
	</body>
</html>

